affinity
bootcamps
coaching
eventbrite
HTSAS
jsprints
startup_school
summer_accelerators
tableau
application_programs

First Meeting.docx
Formal Scope of Work.docx

.DS_Store
notes.txt

adjacency/html
adjacency/data